* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif; 
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header, footer, .content {

  font-size: 1.5em;
  font-weight: bold;
  background-color: violet; 
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 10px;
}

main {
  background-color: aqua;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.content {
  background-color: orangered;
  padding: 20px;
  max-width: 800px;
  margin-bottom: 10px;
  text-align: center;
  

}

footer {
  background-color: rgb(40, 40, 166); 
}
